body {
    display:grid;
    grid-template-rows: 20px auto 120px; 
    grid-template-columns: 50% 50%;
    grid-template-areas: 
                "header header"
                "log right"
                "footer footer";
}

main {

}

header {
    display: block;
    height: 20px;
    width: 100%;
    background: darkgray;

    grid-area:header;
}

.log {
    height: 100%;
    grid-area: log;
}

footer {
    grid-area:footer;
    display: block;
    height: 100%;
    
    overflow:hidden;
    box-sizing: border-box;
}

footer ul {
    box-sizing: border-box;
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    height: 50%;
    width: 50%;
}

footer ul li{
    line-height:1.5em;

    flex-grow: 1;
    /* flex-basis: 0; */
}

.right {
    width: 100%;
    height: 100%;
    grid-area: right;
    display: grid;

    padding: 1em 2em;
    box-sizing: border-box;

    grid-template-columns: 50% 50%;
    grid-template-rows: 4em 8.4334em auto 4em;
    grid-template-areas: 
        "status status"
        "players right"
        "misc right"
        "footer footer";

    grid-gap: 1em;
}

.right .status {
    width: 100%;
    height: 100%;

    grid-area: status;
    display:flex;
    flex-direction: column;
}

.right .status h1, .right .status h6 {
    margin: 0;
    padding: 0;
}

.right .status h1 {
    font-size: 2em;
    flex-grow: 1;
}

.right .status h6 {
    font-size: 1em;
}

h6 .online::after {
    color:green;
    content:"online";
}

h6 .offline::after {
    color:red;
    content:"online";
}


.player-control {
    display:flex;
    flex-direction: row;
}

.player-control ul {
    list-style: none;
    margin:0;
    padding: 0 1em 0 0;
}

.player-control ul button {
    width: 100%;
    height: 2.5em;
    margin: 0 0 0.5em 0;
}