html, body {
    margin:0;
    padding: 0;
    height: 100vh;
}

main {
    margin: 0.5em;
    /* flex-grow:1; */
}

.log {
    /* border: 1px solid gray; */

    box-sizing: border-box;

    display:flex;
    flex-direction: column;
    
    font-family: 'Courier New', Courier, monospace;
}

.log ul {
    padding: 0;
    margin: 0;
    
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;

    overflow: hidden scroll;

    list-style: none;
}

.log input {
    font-size: 1em;
    margin-left: 17.5em;
    
    font-family: 'Courier New', Courier, monospace;

    outline: none;
}

/* INDIVIDUAL ROWS */
.log ul li {
    display:flex;
    padding: 0.2em 0;
    
    box-sizing: border-box;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.log ul li:nth-child(odd) {
    /* background: rgb(226, 226, 226); */
}

.log ul li.error {
    background: rgba(255, 0, 0, 0.342);
}

/*************************/

.log ul li span {
    padding: 0 0.2em;
}

.date {
    color:gray;
    flex-shrink:0;
    flex-basis:4em;
    font-weight: 900;
}

.from {
    color: purple;
    flex-basis:8.5em;
    flex-grow:0;
    flex-shrink: 0;
    text-align: left;
    font-weight: 900;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    max-height: 1em;
}

.type {
    flex-shrink: 0;
    flex-basis: 3em;
    text-align: center;
    font-weight: 900;
}

.type.info {
    color: rgb(51, 51, 51);
}

.type.warn {
    color:rgb(255, 123, 0);
}

.type.error {
    color:red;
}


.plugin {
    color: indigo;
    flex-grow: 0;
    flex-basis: 20px;
}

.msg {
    flex-grow:1;
}
footer {
    padding: 1em;
    background:rgb(68, 68, 68);

    color: lightgray;
}